---
import LinkButton from '@/components/LinkButton.astro';

import LinkIcon from '@/icons/LinkIcon.astro';
import GitHubIcon from '@/icons/GitHubIcon.astro';
import AstroMulticolorIcon from '@/icons/multicolor/AstroMulticolorIcon.astro';
import TypescriptMulticolorIcon from '@/icons/multicolor/TypescriptMulticolorIcon.astro';
import ReactMulticolorIcon from '@/icons/multicolor/ReactMulticolorIcon.astro';
import MaterialUiMulticolorIcon from '@/icons/multicolor/MaterialUiMulticolorIcon.astro';

const TAGS = {
  ASTRO: {
    name: 'Astro',
    class: 'bg-[#ffd9a5] text-black',
    icon: AstroMulticolorIcon,
  },
  TYPESCRIPT: {
    name: 'TypeScript',
    class: 'bg-[#c5d9f2] text-black',
    icon: TypescriptMulticolorIcon,
  },
  REACT: {
    name: 'React',
    class: 'bg-[#0e2c3e] text-white',
    icon: ReactMulticolorIcon,
  },
  MATERIAL_UI: {
    name: 'Material UI',
    class: 'bg-[#04304d] text-white',
    icon: MaterialUiMulticolorIcon,
  },
};

const PROJECTS = [
  {
    image: '/projects/pokedex.webp',
    title: 'Pokedex',
    description: 'Una pokedex consumiendo la PokeAPI. Permite ver los detalles de cada pokemon y buscar por nombre o tipo.',
    link: 'https://pokedex-three-gold.vercel.app/',
    github: 'https://github.com/larrysfinolb/pokedex',
    tags: [TAGS.REACT, TAGS.TYPESCRIPT],
  },
{
    image: '/projects/curriculim-vitae.webp',
    title: 'Curriculum Vitae',
    description:
      'Un curriculum vitae con un diseño minimalista. Permite imprimirlo y actualizar la información por medio de un archivo JSON.',
    link: 'https://larrysfinolb-cv.netlify.app',
    github: 'https://github.com/larrysfinolb/cv',
    tags: [TAGS.ASTRO, TAGS.TYPESCRIPT],
  },
  {
    image: '/projects/javascript-quiz.webp',
    title: 'JavaScript Quiz',
    description: 'Un quiz de preguntas sobre JavaScript con opcion a 4 posibles respuestas.',
    link: 'https://javascript-quiz-sandy.vercel.app',
    github: 'https://github.com/larrysfinolb/javascript-quiz',
    tags: [TAGS.REACT, TAGS.TYPESCRIPT, TAGS.MATERIAL_UI],
  },
];
---

<div class='flex flex-col gap-y-16'>
  {
    PROJECTS.map(({ image, title, description, link, github, tags }) => (
      <article class='flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0'>
        <div class='w-full md:w-1/2'>
          <div class='relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50'>
            <img
              src={image}
              alt={title}
              loading='lazy'
              class='object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105'
            />
          </div>
        </div>

        <div class='w-full md:w-1/2 md:max-w-lg'>
          <h3 class='text-2xl font-bold text-gray-800 dark:text-gray-100'>{title}</h3>
          <div class='flex flex-wrap mt-2'>
            <ul class='flex flex-row mb-2 gap-x-2'>
              {tags.map((tag) => (
                <li>
                  <span class={`flex gap-x-2 rounded-full text-xs py-1 px-2 ${tag.class}`}>
                    <tag.icon class='size-4' />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>
            <div class='mt-2 text-gray-700 dark:text-gray-400'>{description}</div>
            <footer class='flex items-end justify-start mt-4 gap-x-4'>
              {github && (
                <LinkButton href={github} target='_blank' rel='noopener noreferrer'>
                  <GitHubIcon class='size-4' />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link} target='_blank' rel='noopener noreferrer'>
                  <LinkIcon class='size-4' />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
